* {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(235, 235, 235);
}

.container {
    margin: auto;
    width: 100%;
    max-width: 600px;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 3px rgb(144, 144, 144);
    padding: 20px;
    margin-top: 10%;
}

.trash:hover {
    cursor: pointer;
}

.content {
    text-align: center;
}

.chiffre {
    padding: 10px;
    margin-top: 5px;
    width: 400px;
    border: none;
    border-bottom: 1px solid lightgrey;
}

.color {
    padding: 5px;
    margin-top: 25px;
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgrey;
}

.todo {
    margin: auto;
    text-align: left;
    width: 80%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
}

.button {
    background-color: rgb(56, 165, 220);
    padding: 10px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(191, 191, 191);
}